In [5]:
info={
    "key": "value",
     "name": "Rahul",
     "cgpa": 45,
}
print(info)

{'key': 'value', 'name': 'Rahul', 'cgpa': 45}

In [ ]:
# we can also print the the list and tuples in our dictionaray

In [6]:
info={
    "Name": "Rahul Yadav",
    "subject": ["math", "Sciece", "Chemistry"],
    "topic": ("dict", "set"),
    "age": 35,
    "marks":49
}
print(info)

{'Name': 'Rahul Yadav', 'subject': ['math', 'Sciece', 'Chemistry'], 'topic': ('dict', 'set'), 'age': 35, 'marks': 49}

In [ ]:
# if  we want to change anything in the list then

In [4]:
info={
    "Name":"Rahul Yadav",
    "Subject" : ["Mathematica","Science"],
    "Topic": ("dirct", "set"),
    "age": 35,
    "marks": 45
    
}
info["Name"]= "Rohit"
info["surname"]= "yadav"
print(info)

{'Name': 'Rohit', 'Subject': ['Mathematica', 'Science'], 'Topic': ('dirct', 'set'), 'age': 35, 'marks': 45, 'surname': 'yadav'}

In [ ]:
# for crating a empty dictionary

In [1]:
info= {
    "Name" : "Rahul Yadav",
    "age": 35,
    "Topic": ("dict","sets"),
    "Marks": 45
}
null_dict= {}
print(info)
print(type(null_dict))

{'Name': 'Rahul Yadav', 'age': 35, 'Topic': ('dict', 'sets'), 'Marks': 45}
<class 'dict'>

In [ ]:
#nested dictionary

In [5]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(student["Subject"])
print(student["Subject"]["che"])

{'physic': 97, 'che': 98, 'math': 95}
98

In [ ]:
# Dictionary Methods 
# 1->   .Keys()

In [6]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(student.keys())

dict_keys(['name', 'Subject'])

In [ ]:
# 2-> we can also type cast tuple into list and list into tuple

In [7]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(list(student.keys()))

['name', 'Subject']

In [ ]:
# 3-> we can also count the number of keys in a give list or tuple

In [9]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(len(student))
#or another method by which we can do 
print(len(list(student.keys())))

2
2

In [10]:
# 4-> .values()  key word

In [13]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(student.values())
# And we can also convert them into the list 
print(list(student.values()))

dict_values(['Rahul Yadav', {'physic': 97, 'che': 98, 'math': 95}])
['Rahul Yadav', {'physic': 97, 'che': 98, 'math': 95}]

In [15]:
# 5-> .items() return all (keys,val) pairs as tuples

In [22]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
print(student.items())
print()
#And we can also convert them into the list
print(list(student.items()))
print()
pairs= list(student.items())
print(pairs[0])

dict_items([('name', 'Rahul Yadav'), ('Subject', {'physic': 97, 'che': 98, 'math': 95})])

[('name', 'Rahul Yadav'), ('Subject', {'physic': 97, 'che': 98, 'math': 95})]

('name', 'Rahul Yadav')

In [23]:
# 6-> .get() methode used to return the key according to value

In [26]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
# print(student["name2"]) # error give 
print(student.get("name2")) # This give None value not error

None

In [27]:
# why we can not use error vala code becuase when some line give error then we can not 
# Acces the futher line of the code so that we use get method not normal method

In [28]:
# 7 -> .update (new Dict) used to insert the specified items to the dictionary

In [30]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
student.update({"city": "delhi"})
print(student)

{'name': 'Rahul Yadav', 'Subject': {'physic': 97, 'che': 98, 'math': 95}, 'city': 'delhi'}

In [31]:
# If we want to add in new dictionary then

In [32]:
student={
    "name": "Rahul Yadav",
    "Subject": {
        "physic": 97,
        "che": 98,
        "math": 95
    }
}
New_dict= {"city" : "dilhi"}
student.update(New_dict)
print(student)

{'name': 'Rahul Yadav', 'Subject': {'physic': 97, 'che': 98, 'math': 95}, 'city': 'dilhi'}

In [34]:
# # If we pass the same key as in previous dictionay they are present then the become 
# updatenot added in new form

In [1]:
 n= 5
list= []
for i in range(0,n):
    x= int(input("Enter the element of the list->"))
    list.append(x)
i=0
j=n-1
while(i<j):
    if(list[i]==0):
        i+=1
    if(list[j]==1):
        j-=1
    if(list[i]==1 and list[j]==0):
        temp= list[i]
        list[i]= list[j]
        list[j]= temp
        i+=1
        j-=1

for i in range(0,n):
    print(list[i] , end=" ")

Enter the element of the list-> 0 1 1 0 1

ValueError: invalid literal for int() with base 10: '0 1 1 0 1'