In [3]:
marks= [95.6,93.5,98.3,99.1,92.3]
print(marks)
print(type(marks))
print(marks[0])

[95.6, 93.5, 98.3, 99.1, 92.3]
<class 'list'>
95.6

In [4]:
student = ["Rahul", 98.4, "Rohit", 88.4]
print(student)

['Rahul', 98.4, 'Rohit', 88.4]

In [5]:
list= [1,2,3,4,5,6]
list.append(7)
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [7]:
list= [1,2,3,4,5,6] # Assending order sort
print(list.append(8))
print(list.sort())
print(list)

None
None
[1, 2, 3, 4, 5, 6, 8]

In [8]:
list= [1,2,3,4,5,6] # Desending order sort
print(list.sort(reverse= True))
print(list)

None
[6, 5, 4, 3, 2, 1]

In [9]:
list= ["Banana", "Apple" , "Orange"]
print(list.sort())
print(list)

None
['Apple', 'Banana', 'Orange']

In [ ]:
#Tuple simlar to the list only differ by [] in tuple this replace by ()

In [12]:
tup= (2,3,4,5,6,7)
print(type(tup))

<class 'tuple'>

In [13]:
tup=(2,)
print(type(tup))
print(tup)

<class 'tuple'>
(2,)

In [14]:
tup= (2)
print(type(tup))
print(tup)

<class 'int'>
2

In [15]:
tup= (2,3,4,5)
print(type(tup))
print(tup)

<class 'tuple'>
(2, 3, 4, 5)

In [16]:
tup= (2,3,4,6,)
print(type(tup))
print(tup)

<class 'tuple'>
(2, 3, 4, 6)

In [17]:
tup=(2,3,4 ,5,6,7)
print(tup.index(5))

3

In [ ]:
 tup= (3,4,5,6,7)
print(tup.count(5))

In [1]:
# sort the array

In [3]:
n = int(input("Enter the length of the list->"))
list=[]
for i in range(0,n):
    x= int(input(f" Enter the {i+1} element of the list->"))
    list.append(x)

i=0
j= n-1;
while(i<j):
    if(list[i]==0):
        i=i+1
    if(list[j]==1):
        j=j+1
    if(list[i]==1 and list[j]==0):
        temp= list[i]
        list[i]= list[j]
        list[j]= temp
        i=i+1
        j=j-1

for i in range(0,n):
    print(list[i], end=" ")

Enter the length of the list-> 5
 Enter the 1 element of the list-> 0
 Enter the 2 element of the list-> 0
 Enter the 3 element of the list-> 1
 Enter the 4 element of the list-> 1
 Enter the 5 element of the list-> 0

0 0 0 1 1

In [4]:
# Sort one zero and two

In [6]:
n = int(input("Enter the length of the list->"))
list=[]
for i in range(0,n):
    x= int(input(f" Enter the {i+1} element of the list->"))
    list.append(x)

i=0
j=0
k=n-1
while(j<=k):
    if(list[j]==2):
        temp= list[j]
        list[j]= list[k]
        list[k]= temp
        k-=1
    elif(list[j]==0):
        temp= list[j]
        list[j]= list[i]
        list[i]=temp
        i+=1
        j+=1
    else:
        j+=1

for i in range(0,n):
    print(list[i], end=" ")

Enter the length of the list-> 8
 Enter the 1 element of the list-> 0
 Enter the 2 element of the list-> 2
 Enter the 3 element of the list-> 0
 Enter the 4 element of the list-> 1
 Enter the 5 element of the list-> 2
 Enter the 6 element of the list-> 1
 Enter the 7 element of the list-> 0
 Enter the 8 element of the list-> 2

0 0 0 1 1 2 2 2

In [9]:
n = int(input("Enter the length of the list->"))
list=[]
for i in range(0,n):
    x= int(input(f" Enter the {i+1} element of the list->"))
    list.append(x) 
for i in range(0, n):
    for j in range(0, n-1-i):
        if(list[j]> list[j+1]):
            temp= list[j]
            list[j]= list[j+1]
            list[j+1]= temp

for i in range(0, n):
    print(list[i] , end=" ")

Enter the length of the list-> 8
 Enter the 1 element of the list-> 2
 Enter the 2 element of the list-> 4
 Enter the 3 element of the list-> 7
 Enter the 4 element of the list-> 5
 Enter the 5 element of the list-> 8
 Enter the 6 element of the list-> 10
 Enter the 7 element of the list-> 23
 Enter the 8 element of the list-> 4

2 4 4 5 7 8 10 23

In [10]:
#  slicing of the list

In [12]:
n = int(input("Enter the length of the list->"))
list=[]
for i in range(0,n):
    x= int(input(f" Enter the {i+1} element of the list->"))
    list.append(x) 
print(list[2:n],end=" ")

Enter the length of the list-> 4
 Enter the 1 element of the list-> 1
 Enter the 2 element of the list-> 2
 Enter the 3 element of the list-> 3
 Enter the 4 element of the list-> 4

[3, 4]

In [12]:
list=[2,3,4,5,6,7,8]
print(list)

[2, 3, 4, 5, 6, 7, 8]

# Concordant two tuple

In [16]:
def concordant_tuples(tuple1, tuple2):
    return tuple1+ tuple2

tuple1= (1,4,6)
tuple2= (3,5,8)
con= concordant_tuples(tuple1, tuple2)
print(con)

(1, 4, 6, 3, 5, 8)

# cout the occurrences of an element in a tuple

In [19]:
def count_element(tup, value):
    return tup.count(value)

tup= (1,2,2,2,6)
count= tup.count(2)
print(count)

3

# check if an element exist in an tuple or not

def element_exist(tup, value):
    return value in tup

tup= (1,3,4,5,7,6)
exits = 2 in tup
print(exits)

# Convert the tuple into the array

In [24]:
def tuple_to_string(tup):
    return str(tup)
tup= (1,2,3,4,5)
string = str(tup)
print(string)
print(tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

# print the middle of the given linkedlist

In [ ]:
class Node:
    def__(self, data):
    self.data = data 
    self.Next= None