In [ ]:
# Relational / comparison operator (== ,!= ,> ,<,>=, <=)

# Assignment Opreator (= ,+= ,-=,/=,%=,**=)

# Logical oprator (not ,and , or)

In [1]:
a= 50 
b= 30
print(a==b)

False

In [2]:
a=50 
b=20
print(a!=b)

True

In [8]:
 num= 10
num +=10
print("num :", num)

num : 20

In [ ]:
# Logical operator

In [9]:
print(not False)
print(not True)

True
False

In [ ]:
# Type conversion

In [11]:
a= 2
b=4.13
sum= a+b # 2.0 + 4.13
print(sum)
print(type(a))

6.13
<class 'int'>

In [12]:
a= "2" # string 
b= 4.15
print(a+b)

TypeError: can only concatenate str (not "float") to str

In [ ]:
# How to convert string into the integer --> this is called type casting in the python

In [13]:
a= int("2")
b= 4.24
print(type(a))
print(a+b)

<class 'int'>
6.24

In [16]:
a= int("Rahul yadav")
print(type(a))# we cannot convert this into the integer value only possible thig can convert

ValueError: invalid literal for int() with base 10: 'Rahul yadav'