In [1]:
print("Hello World")

Hello World

In [6]:
  name = "Rahul Yadav"
  age= 34
  price= 44.00

age2 = age

print("My Name is :" , name)
print("My Age is :", age2)

My Name is : Rahul Yadav
My Age is : 34

In [ ]:
# Finding the type of data type

In [7]:
name = "Rahul Yadav"
age = 23 
price= 44.00
print(type(name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
age = 23 
old = False
a= None 
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [ ]:
# Punctuators 
# (), {}
# @ , []
# #

In [ ]:
# Expression Execution

In [9]:
a, b= 2,3
Txt= "Rahul Yadav"
print(2*Txt*3)

Rahul YadavRahul YadavRahul YadavRahul YadavRahul YadavRahul Yadav

In [ ]:
# String and String can opreate with +

In [13]:
a, b = "2" , 3
Txt = "Rahul Yadav"
print((a+Txt)*b)

2Rahul Yadav2Rahul Yadav2Rahul Yadav

In [ ]:
# Integer division with float and int willl give int displayed as float

In [14]:
a, b= 1.5 , 3
c= a//b
print(c , a/b)

0.0 0.5

In [ ]:
#  Remainder is negative whe denominator is negative

In [ ]:
a, b= 5,

In [1]:
name= input("Name:")
print(name)

Name: Rahul Yadav

Rahul Yadav