In [3]:
collection= {1, 2,3,4,5,"hello", "hello","woeld"}
print(collection)
print(type(collection))

{1, 2, 3, 4, 5, 'woeld', 'hello'}
<class 'set'>

In [4]:
# Above result said that their is no any order to print the element means
# the value which is written at the last point but the print at  any other place means
# they are unorderd

In [5]:
# How to generate empty set

In [8]:
collection ={}
print(type(collection))

collection =set()# this is write way to crate
print(type(collection))

<class 'dict'>
<class 'set'>

In [9]:
# set Methods

In [10]:
# 1-> .add  add element

In [13]:
 collection = set()
collection.add(2)
collection.add(4)
collection.add(2)
collection.add("apna collage")
collection.add((2,3,5))
print(collection)

{2, 'apna collage', 4, (2, 3, 5)}

In [14]:
# when we add  list then result is

In [16]:
collection= set()
collection.add([2,3,4])
print(collection)

TypeError: unhashable type: 'list'

In [17]:
# what is unhashable type means 
# every immutable thing have some -> Hash value 
# so in case of list [1,3] they have some hash value now add something in this [2,1,3] 
# now its hash value become change which is volites the hash type

In [18]:
# .clear  clear all the set element

In [21]:
 collection = set()
collection.add(2)
collection.add(4)
collection.add(2)
collection.add("apna collage")
collection.add((2,3,5))
collection.clear()
print(len(collection))

0

In [22]:
# .pop clear a random value of the list

In [25]:
 collection = set()
collection.add(2)
collection.add(4)
collection.add(2)
collection.add("apna collage")
collection.add((2,3,5))
print(collection.pop())
print(collection.pop())

2
apna collage

In [26]:
# 4-> .union combine both set values and reuturn new

In [29]:
set1= {1,2,3}
set2= {3,4,1}
print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3}
{1, 3, 4}

In [30]:
# intersection

In [31]:
set1={1,3,4}
set2= {2,3,5}
print(set1.intersection(set2))

{3}